@keyframes open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .auth-info__mobile_opened {
    animation: open ease-in-out 0.5s forwards;
  }
}
