.card__delete {
  display: block;
  width: 18px;
  height: 20px;
  background-image: url('../../../images/card/delete.svg');
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 18px;
  right: 15px;
  z-index: 1;
  border: none;
}
