.card__container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  grid-area: photo;
}
