.form__input_password {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  background-size: cover;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

@media screen and (max-width: 500px) {
  .form__input_password {
    bottom: 0;
  }
}