.profile__button_action_edit {
  width: 24px;
  height: 24px;
  background-image: url('../../../../images/profile/btn_edit.svg');
  background-size: 10px 10px;
  border: 1px solid #fff;
  margin: 0;
  grid-column: 2;
  grid-row: 1;
}

@media screen and (max-width: 980px) {
  .profile__button_action_edit {
    width: 19px;
    height: 19px;
    background-size: 8.5px 8.5px;
  }
}

@media screen and (max-width: 425px) {
  .profile__button_action_edit{
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
