.popup__button_close {
  width: 57px;
  height: 57px;
  top: -45px;
  right: -45px;
}

@media screen and (max-width: 500px) {
  .popup__button_close {
    width: 42px;
    height: 42px;
    top: -32px;
    right: -32px;
  }
}
