.photo__close {
  width: 56px;
  height: 56px;
  top: -45px;
  right: -45px;
}

@media screen and (max-width: 500px) {
  .photo__close {
    width: 42px;
    height: 42px;
    top: -34px;
    right: -34px;
  }
}
