.popup__button_submit {
  width: 358px;
  height: 50px;
  display: block;
  margin: 0 auto 0;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: normal;
}

.popup__button_submit:disabled {
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #fff;
  color: rgba(0, 0, 0, .2);
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 500px) {
  .popup__button_submit {
    width: 83%;
    height: 40px;
    font-size: 0.875rem;
  }
}
